<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="control.project.mapper.BoardMapper">

	<!-- 현재 시간 기준 예약정보 불러오기 0509 -->
	<select id="recentList" resultType="control.project.model.ReservationVO">
		select * from reservation
		where reservationTime > NOW()
		order by reservationTime
	</select>

	<!-- 예약 정보 불러오기 select 0419 -->		
	<select id="list" resultType="control.project.model.ReservationVO">
	  <!-- 기본 쿼리 -->
	  select *
	  from reservation
	  <choose>
	    <when test="doctor1 != '' and doctor1 != null">
	      <!-- 의료진 선택 시 -->
	      where doctor = #{doctor1}
	        and date(reservationTime) between #{date1} and #{date2}
	      <if test="keyword != null">
	            and (
	            rno like concat('%',#{keyword},'%')
	              or doctor like concat('%',#{keyword},'%')
	              or medicalDept like concat('%',#{keyword},'%')
	              or personalNumber like concat('%',#{keyword},'%')
	              or customerName like concat('%',#{keyword},'%')
	              )
	      </if>
	      order by reservationTime
	    </when>
	    <otherwise>
	      <!-- 의료진 선택하지 않았을 경우 -->
	      where date(reservationTime) between #{date1} and #{date2}
	      <if test="keyword != null">
	            and (
	            rno like concat('%',#{keyword},'%')
	              or doctor like concat('%',#{keyword},'%')
	              or medicalDept like concat('%',#{keyword},'%')
	              or personalNumber like concat('%',#{keyword},'%')
	              or customerName like concat('%',#{keyword},'%')
	              )
	      </if>
	      order by reservationTime
	    </otherwise>
	  </choose>
	</select>
	
	<!-- 예약 전체 건수 불러오기 select 0419 -->	
	<select id="total" resultType="int">
	    select count(*) from reservation
	    <choose>
	        <when test="doctor1 != '' and doctor1 != null"> 
	            where doctor = #{doctor1} and date(reservationTime) between #{date1} and #{date2}
	        </when>
	        <otherwise> 
	            order by reservationTime 
	        </otherwise>
	    </choose>
	    
	    <if test="keyword != null">
	        <choose>
	            <when test="type=='T'.toString()">
	                and rno like concat('%',#{keyword},'%')
	            </when>
	            <otherwise>
	                and rno like concat('%',#{keyword},'%')
	            </otherwise>
	        </choose>
	    </if> 
	</select>
	
	<!-- 예약 상세정보 불러오기 select 0424 -->
    <select id="detail" resultType="control.project.model.ReservationVO">
         select * from reservation
         where rno = #{rno} 
    </select>
    
    <!-- 예약 상세정보 수정(저장)하기 update 0424 -->
    <update id="modify">
    	update reservation
    	set customerName=#{customerName}, personalNumber=#{personalNumber}, 
    	email=#{email}, medicalDept=#{medicalDept}, doctor=#{doctor}, 
    	reservationTime=#{reservationTime}, otherInfo=#{otherInfo}
    	where rno = #{rno} 
    </update>

    <!-- 예약 상세정보 삭제하기 delete 0424 -->
    <delete id="remove">
    	delete from reservation
    	where rno = #{rno} 
    </delete>
	
</mapper>