<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="control.project.mapper.dept_informationMapper">

	<select id="list" resultType="control.project.model.dept_informationVO">
		select 	*
		FROM dept_information
		where medicalDept = #{medicalDept}
	</select>
	 
	
 
</mapper>