<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="control.project.mapper.ReservationMapper">
 
	<!-- 예약 정보 저장하기 insert -->
	<insert id="reserve">
		<selectKey keyProperty="rno" order="BEFORE" resultType="int">
			select max(rno)+1 rno
			from reservation
		</selectKey>
		
		insert into reservation(rno, customerName, personalNumber, email, medicalDept, doctor, reservationTime, otherInfo)
		values(#{rno}, #{customerName}, #{personalNumber}, #{email}, #{medicalDept}, #{doctor}, #{reservationTime}, #{otherInfo})
	</insert>
	
	<!-- 예약 정보 불러오기 select -->
 
</mapper>