@charset "UTF-8";

.tabs {
  font-family: "lucida grande", sans-serif;
}

[role="tablist"] {
  width: 1100px;
}

[role="tab"],
[role="tab"]:focus,
[role="tab"]:hover {
  display: inline-block;
  position: relative;
  z-index: 2;
  top: 2px;
  margin: 0;
  margin-top: 4px;
  padding: 3px 3px 4px;
  border: 1px solid hsl(219deg 1% 72%);
  border-bottom: 2px solid hsl(219deg 1% 72%);
  border-radius: 5px 5px 0 0;
  background: none/*  hsl(220deg 20% 94%) */;
  outline: none;
  font-weight: bold;
  max-width: 12%;
  overflow: hidden;
  text-align: left;
  cursor: pointer;
}

[role="tab"][aria-selected="true"] {
  padding: 2px 2px 4px;
  margin-top: 0;
  border-width: 2px;
  border-top-width: 6px;
  border-top-color: rgb(68 146 255); 
/*   border-bottom-color: hsl(220deg 43% 99%); */
  background: hsl(220deg 43% 99%);
}

[role="tab"][aria-selected="false"] {
  border-bottom: 1px solid hsl(219deg 1% 72%);
}

[role="tab"] span.focus {
  display: inline-block;
  margin: 4px;
}


[role="tab"]:focus span.focus,
[role="tab"]:active span.focus {
  border: 2px solid rgb(36 116 214);
  border-radius: 3px;
}

[role="tabpanel"] {
  margin: 10px;
  margin-left:0px;
  border: 2px solid hsl(219deg 1% 72%);
  border-radius: 5px;
  background: hsl(220deg 43% 99%);
  min-height: 10em;
  width: 1050px;
  overflow: auto;
}

[role="tabpanel"].is-hidden {
  display: none;
}

[role="tabpanel"] p {
  margin: 0;
}

 .focus > a {
   display: block;
   margin: 5px;
   text-align: center;
}

  #doctorInfo {
    list-style-type: none;
    margin-block-start: 20px;
    margin-inline-start: 5px;
    display: inline-flex;
	line-height: 2.5;
    flex-direction: column;
    
}

 .doctor-info-img {
  float:left;
  padding-right: 20px;
 } 
 
  .doctor-info-box > p {
   width: 1000px
 } 

 .info-box-name {
   font-weight: bold;
   font-size:20px;
   padding-top:10px;
   
 }

 .info-box-button  {
  background-color:#4492ff; 
  color:white;
  width: 110px;
  float: right;
  font-size: 15px;
  padding-left:10px;
  margin-top: 10px;
  border-radius: 4px;
 }

 .info-box-button:hover {
 background-color:#007aff; 
 }