@charset "UTF-8";
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

.scriptCalendar { 
  text-align:center;
  width: 100%;
  padding: 0.75em;
  margin: 25px auto;
  font-size: 4vw;
  background-color: #fff;
  border-radius: 1.5em;
  user-select: none;
  box-shadow:
    0 0.0625em 0.25em rgba(0,20,50,0.2),
    0 0.5em 0.5em 0.125em rgba(0,20,50,0.1);
}

@media (min-width: 500px) {
  .scriptCalendar {
    width: 450px; /* 여기서 달력의 width를 지정한다 */
    font-size: 1.25rem;
  }
}

.scriptCalendar > thead > tr:last-Child > td {
  width: 4em;
  height: 3.3em;
  vertical-align: top;
  font-weight: bold;
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 0.0625em;
  box-shadow:
    inset 0 -0.875em #fff,
    inset 0 -1em rgba(0,20,50,0.1);
}

.scriptCalendar > thead > tr > td {
  height:2.7em;
}


.scriptCalendar > tbody > tr > td {
  height:2.7em;
}

.blockedDay:hover {
  background-color : #FF5A5A;
}

#timeTable{
	display:flex;
	justify-content: center;
}

#timeTable li{
	width: 100px;
	height: 50px;
	line-height: 50px; 
	list-style: none;
	border: 1px solid black;
	margin-right: 7px;
	text-align: center;
	
}


#timeTable a {
  color:#000000;
  text-decoration:none;
  
}

.clicked {
  background-color: blue;
  color: #fff;
}

.blockedDay {
  background-color : #FF5A5A;
}

.dis-none {
  display:none;
}

.last-form{
  display: flex;
  align-items: center;
  justify-content: center;
  Flex-direction: column;
   padding-top: 50px;

}

 #otherInfo{
  width:530px;
  height: 100px;
  font-size: 15px;
  padding: 5px;
 
 }

  .last_button {
  background-color: #4492ff;
  border: 0;
  color:white;
  cursor: pointer;
  font-size: 17px;
  padding:5px 10px ;
  margin-top:30px;
 border-radius: 4px;
  }
  
   .last_button:hover{
 background-color:#007aff; 
 }
