@charset "UTF-8";

*{
	padding:0; 
	margin:0; 
	padding: 0;
	font-family: "맑은 고딕";
	list-style: none;
	box-sizing: border-box;
	color: #000000
	}

.box{
	max-width: 1200px; 
	margin:  0px auto;
	height: 660px;
    overflow-y: scroll;
    box-shadow: 1px 3px 7px 2px gray;
	clear: both;
	}

table{
	width: 100%;
	text-align: center; 
	border: 1px solid #ccc;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 0;
    }

thead tr:first-child th,
thead tr:first-child td {
  border-top: 0;
}
    
tbody tr:first-child th,
tbody tr:first-child td {
  border-top: 0;
}
    
thead {
  position: sticky;
  top: 0;
  background-color: #f8f8f8;
  height: 30px;
  }
    
table tr td {
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
	}

/* 줄였을때 최대 넓이 */
@media (max-width: 400px){
    .box{box-sizing: border-box; padding: 0 20px;}
    table{text-align: left; }
    table tr{display:block; border-bottom:1px solid #ccc;}
    table tr:last-child{border:0;}
    table tr td {display: inline-block; margin-right: 5px; padding: 5px 0 0 5px; border : 0;}
    table tr td.col1{display: block;}
}

select{
	width: 100px;
	height: 30px;
	border-radius: 5px;
	text-align: center;
	border: solid 1px #000;
	margin: 3px;
}

.date{
	width: 120px;
	height: 30px;
	border-radius: 5px;
	text-align: center;
	border: solid 1px #000;
	margin: 3px;
}

.date_-{
	margin: 3px;
}

.keyword{
	width: 300px;
	height: 35px;
	border-radius: 4px;
	border: solid 1px #000;
}

.Manager_title{
	text-align: center;
	margin: 20px;
}

.Manager_count{
	display: flex;
	justify-content: center;
	
}

.Manager_count li{
	float: left;
	margin: 3px;
}

.count_color{
	color: red;
	font-weight: bold;
}

.Manager_keyword{
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.Manager_icon{
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
}

.Manager_icon_item{
	width: 1200px;
}

.Manager_paging{
	display: flex;
	justify-content: center;
}
.btn-get-started {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 4px;
    transition: 0.5s;
    line-height: 1;
    color: #fff;
    background: #4492ff;
    border: none;
    margin-left: 5px;
}
.btn-get-started:hover {
    background: #356dff;
}

