@charset "UTF-8";

* {
  margin: 0 auto;
  padding: 0;
  font-family: "맑은 고딕";
  list-style: none;
  color: #000000;
}
body {
  font: 90%/1.4 system-ui;
  margin: 0;
  font-family: sans-serif;
}
main{
	    display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
}

/* table css */
/* aside {
  padding: 7vh 5vw;
} */
.primary {
  overflow: auto;
  scroll-snap-type: both mandatory;
  /* height: 80vh; */
}
@media (min-width: 40em) {
  main {
    /* display: flex; */
  }
  .primary {
    order: 2;
  }
}
table {
  border-collapse: collapse;
  border: 1;
  margin-top: 100px;
}
th,
td {
  border: 1px solid #aaa;
  background-clip: padding-box;
  scroll-snap-align: start;
/*   border-right: 0; */
}
/*   tbody tr:last-child th,
tbody tr:last-child td {
  border-bottom: 0;
}  */
thead {
  z-index: 1000;
  position: relative;
}
th,
td {
  padding: 0.6rem;
  min-width: 10rem;
  text-align: left;
  margin: 0;
}
thead th {
  position: sticky;
  top: 0;
  text-align: center;
/*   border-top: 0; */
  background-clip: padding-box;
}
thead th.pin {
  left: 0;
  z-index: 1001;
/*   border-left: 0; */
}
tbody th {
  background-clip: padding-box;
/*   border-left: 0; */
}
tbody {
  z-index: 10;
  position: relative;
}
tbody th {
  position: sticky;
  left: 0;
}
thead th,
tbody th {
  background-color: #f8f8f8;
}

/* button css */
p {
  margin-bottom: 0.5em;
}
a,
a:visited {
  text-decoration: none;
  /* color: #00AE68; */
}
.clear {
  clear: both;
}
.pageTitle {
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1em;
  color: #00AE68;
}
.pageSubTitle {
  margin-bottom: 0.5em;
  font-size: 1.3em;
  font-weight: 700;
  line-height: 1em;
  color: #222;
}
.articleTitle {
  font-size: 1.15em;
  font-weight: 700;
  line-height: 1em;
  color: #222;
}
.wrapper {
  width: 600px;
  margin: 20px auto;
}
.container {
     padding-top: 1em; 
     margin-top: 1em;
}
.btn-get-started {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 4px;
    transition: 0.5s;
    line-height: 1;
    color: #fff;
    background: #4492ff;
    border: none;
    margin-left: 5px;
}
.btn-get-started:hover {
    background: #356dff;
}